body {
  background-image: url("https://bpermin.files.wordpress.com/2022/03/uo91.png");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: "Hubballi", cursive;
  padding-top: 35px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  padding: 5px;
}

h2 {
  font-family: "Permanent Marker", cursive;
}

h3 {
  font-size: 20px;
  position: relative;
  top: -30px;
}

a {
  text-decoration: none;
  color: #61cece;
}

footer {
  color: #e9467a;
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
}

.iconCredit {
  padding: 0 80px;
}

.footerLink {
  color: #e9467a;
}
