.future-temps {
  text-align: center;
  padding-top: 16px;
}

.future-stats {
  display: block;
  padding: 6px 0;
  font-size: 20px;
  text-align: center;
}

.future-card {
  background-color: #f5ec2f;
  max-width: auto;
}

.future-description {
  text-transform: capitalize;
  font-size: 105%;
}

.forecast-body {
  min-width: 160px;
}
