small {
  text-align: center;
}

.card-title {
  font-family: "Permanent Marker", cursive;
}

.timeDescription {
  font-size: 20px;
}

.forecast-body {
  min-width: 150px;
  max-width: auto;
  padding-bottom: 0;
}

.weather-box {
  border: 2px solid #f5ec2f;
  transform: skew(-10deg) rotate(2deg);
  box-shadow: 10px 10px 20px rgba(234, 231, 17, 0.2);
  padding-top: 19px;
  position: relative;
  left: 19px;
  font-size: 17px;
}

.stats {
  display: block;
  padding: 10px 0;
}
